* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background-color: black;
  display: grid;
}

#content {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 25px;
  padding: 25px;
  align-items: center;
}

.boardContainer1,
.boardContainer2 {
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 5px;
  aspect-ratio: 1;
  padding: 10px;
}

.controls {
  color: wheat;
}

.active {
  box-shadow: 0 0 10px 1px greenyellow;
}

.gridCell {
  border: 1px solid grey;
}

.active>.gridCell:hover {
  transition: all 0.2s;
  box-shadow: 0 0 7px 1px white;
  cursor: pointer;
}

div.hit {
  background-color: green;
}

.miss {
  background-color: red;
}

.ship {
  background-color: gray;
}