* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background-color: black;
  display: grid;
}

#content {
  display: grid;
  grid-template-columns: 2fr max-content 2fr;
  gap: 25px;
  padding: 25px;
  align-items: center;
}

.shipTable {
  display: grid;
  grid-template-columns: 1fr 2rem;
  justify-items: center;
}

.shipTableTitle {
  font-weight: 900;
}

.shipTableCurrent.ti {
  background-color: rgb(60, 60, 60);
  color: white;
}

.ti {
  color: white;
  border: 1px solid white;
  width: 100%;
  text-align: center;
  padding: 5px;
  font-weight: 100;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 5px;
  aspect-ratio: 1;
  padding: 10px;
}

.controls {
  color: wheat;
}

.active,
.valid {
  box-shadow: 0 0 10px 1px greenyellow;
}

.invalid {
  box-shadow: 0 0 10px 1px orangered;
}

.gridCell {
  border: 1px solid grey;
}

.active>.gridCell:hover {
  transition: all 0.2s;
  cursor: pointer;
}

div.hit {
  background-color: green;
}

.miss {
  background-color: red;
}

.ship {
  background-color: gray;
}